.feed_back_options_container {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-top: 20px;
  padding: 0;
}
.feed_back_options_button {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.25em 1em;
}
